@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{font-family: 'Roboto', sans-serif;}

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    width: 100%;
    padding: 50px 50px;
    background: linear-gradient(180deg, #2F4076 0%, rgba(47, 64, 118, 0.84) 100%);
}

.green-text {
    color: #54D1BB;
    justify-content: space-between;
}
/*DIV NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    }

.main-title {
    display: flex;
    justify-content: center;
}
.greetings {
    padding: 50px;
    color: white;
    font-size: 45px;
}

span{
    color: aqua;
}

.logo-pic {
    display: flex;
    width: 90px;
    height: 90px;
}
.items a {
    color: #54D1BB;   
    text-decoration: none;
}
.items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 10%;
}

.home {
    margin: 10%;
}

.projects {
    margin: 10%;
}

.contact {
    margin: 10%;
}
/*DIV MAIN-TITLE*/

.main-title {
    padding-top: 4%;
}

.perfil-pic {
    width: 275px;
    height: 275px;
    border-radius: 100%;
    object-fit: cover;

}

.h1 {

}

/*DIV DESCRICAO*/
.descricao {
    padding: 4% 175px;
    display: flex;
    color: white;
}


/*FIM DO HEADER*/