@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{font-family: 'Roboto', sans-serif;}

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    width: 100%;
    padding: 50px 50px;
    background: linear-gradient(180deg, #2F4076 0%, rgba(47, 64, 118, 0.84) 100%);
}

.green-text {
    color: #54D1BB;
    justify-content: space-between;
}
/*DIV NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    }

.main-title {
    display: flex;
    justify-content: center;
}
.greetings {
    padding: 50px;
    color: white;
    font-size: 45px;
}

span{
    color: aqua;
}

.logo-pic {
    display: flex;
    width: 90px;
    height: 90px;
}
.items a {
    color: #54D1BB;   
    text-decoration: none;
}
.items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 10%;
}

.home {
    margin: 10%;
}
items:hover {color: white;}

/*DIV MAIN-TITLE*/

.main-title {
    padding-top: 4%;
}

.perfil-pic {
    width: 275px;
    height: 275px;
    border-radius: 100%;
    object-fit: cover;

}



/*DIV DESCRICAO*/
.descricao {
    padding: 4% 175px;
    display: flex;
    color: white;
}


/*FIM DO HEADER*/

/* SECTION PROJECTS*/

.projects {
    background: rgba(229, 229, 229, 0.71);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 7%;
}

.projects-title {
    display: flex;
    justify-content: center;
    color: #2F4076;
    padding-top: 6%;
    margin-bottom: 6%;
    font-size: 37px;
}

.retangulo {
    background-color: white;
    width: 200px;
    height: 260px;
    margin: 4%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.retangulosa {
    display: flex;
    justify-content: center;
}

.retangulosb {
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-left: 33%;
    margin-top: 10%;
}

.h3 {
    margin-left: 25%;
    margin-bottom: 0%;
    margin-top: 4%;
}

.designer {
    color: #2F4076;
    margin-left: 18%;
    margin-top: 10%;
}

.volunteer {
    margin-left: 9%;
    color: #3D1E69;
    margin-top: 10%;
    margin-bottom: 5%;
}

.talks {
    color: #F1C205;
    margin-left: 37%;
    margin-top: 10%;
}

.front {
    color: #54D1BB;
    margin-left: 7%;
    margin-top: 10%;
}

.description2 {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    font-size: 14px;
    text-align: justify;
}

/*SECTION CONTACTS */

.contact {
    background: linear-gradient(180deg, #46BEB2 0%, #3A7C95 100%);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.heading-title {
    padding-left: 44%;
    padding-top: 50px;
    color: white;
    font-size: 36px;
}

.contact-description {
    display: flex;
    justify-content: center;
    
    padding-top: 0%;
    text-align: center;
}

.email-link {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
    color: white;
}

.footer {
    background: rgba(62, 59, 59, 0.88);
    display: flex;
    justify-content: center;
    height: 85px;
    
}